footer {
  background-color: rgb(241, 240, 240);
  color: rgb(0, 0, 0);
  font-family: 'Varela Round', sans-serif;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://www.pepperconstruction.com/sites/default/files/images/lasalle_peru_banner_0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.masthead-1 {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://www.ccgvaz.org/images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
  
.masthead-h1 {
  font-size: 55px;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

.masthead-p {
  font-size: 35px;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

.py-5{
  font-family: 'Varela Round', sans-serif;
  color: black;
}
